html, body {
  height: 100%;
  margin: 0;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #8e9eab, #eef2f3);
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.connect-wallet-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.connect-wallet-button:hover {
  background-color: #0056b3;
}

.connected-content {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.circular-modules {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 控制项目之间的间距 */
  justify-content: center;
  width: 100%;
}

/* 确保每行显示两个圆形模块 */
.circular-module {
  width: calc(50% - 10px); /* 每行两个模块，考虑gap */
  min-width: 200px; /* 减小最小宽度 */
  box-shadow: 0 0 5px lightgray;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  position: relative; /* 添加相对定位 */
}

.circular-module:hover {
  transform: scale(1.05);
}

.circular-module h2 {
  margin: 0 0 10px;
  font-size: 11px; /* 减小字体大小 */
  word-break: break-all; /* 防止标题过长 */
}

.module-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  overflow: hidden; /* 确保内容不会溢出 */
}

.module-content input.round-input,
.module-content button.round-button {
  margin: 10px 0;
  width: 80%;
  height: 40px; /* 减小高度 */
  padding: 0 20px;
  border-radius: 50px;
  font-size: 14px; /* 减小字体大小 */
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.module-content input.round-input {
  border: 2px solid #007bff;
  background-color: #fff;
}

.module-content input.round-input:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.module-content button.round-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.module-content button.round-button:hover {
  background-color: #0056b3;
}

.module-content button.round-button:disabled {
  background-color: #ddd;
}

.module-content p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all; /* 确保段落中的长单词不会溢出 */
}